
#info-cont {
    width: 100vw;
    background-color: lightblue;
    line-height: 1.6;
    
    #intro {
        width: 100%;
        justify-content: space-around;
        padding: 2rem 0;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        #details{

            > p {
                margin-bottom: 0.5rem;
            }
        }   
    }

    #introduction {
        padding: 1rem 0.75rem;
    }
}