
#projects-cont {
    width: 100vw;
    flex-direction: column;
    line-height: 1.6;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.199);
    background-color: white;
    
    #title {
        width: 100%;
        padding: 0.75rem;
        justify-content: space-between;

        > h1 {

            > i {
                font-size: 1.75rem;
                margin-right: 0.75rem;
            }
        }

        i {
            margin-right: 0.5rem;
            font-size: 1.1rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    #projects {
        width: 100%;
        background-color: #f2f3f4;

        .project {
            width: 100%;
            padding: 0.75rem 0.75rem 0.75rem 3.25rem;
            
            > div {
                flex-direction: column;
                align-items: flex-start;

                > h1 {
                    font-size: 1.25rem;
                    font-style: italic;
                }

                > div {

                    > h2 {

                        font-size: 1rem;
                    }
                }
            }

            > ul {
                font-size: 0.9rem;

                li {
                    list-style:square;
                }
            }
        }
    }
    
}

@media only screen and (min-width: 50rem) {

    #projects-cont {
        width: 50rem;
        border-left: 0.2px solid rgba(0, 0, 0, 0.199);
        border-right: 0.2px solid rgba(0, 0, 0, 0.199);

        #projects {

            .project {
                > div {
                    flex-direction: column;
                    
                    > div {
                        width: 100%;
                        justify-content: space-between;
                        column-gap: 2rem;

                        h1 {
                            font-size: 1.25rem;
                        }

                        h2 {
                            font-size: 1rem;
                        }
                    }

                    > h2 {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}