
#header-cont {
    width: 100vw;
    justify-content: space-between;
    height: 4rem;
    line-height: 1.6;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.199);

    #name {
        margin-left: 1rem;
    }

    #resume {
        margin-right: 1rem;

        button {
            padding: 0.15rem 0.5rem;
            border-radius: 0.5rem;
            background-color: white;

            > i {
                margin-left: 0.5rem;
            }
        }
    }
}


@media only screen and (min-width: 50rem) {

    #header-cont {
        width: 50rem;
        border-left: 0.2px solid rgba(0, 0, 0, 0.199);
        border-right: 0.2px solid rgba(0, 0, 0, 0.199);

        #name {
            margin-left: 2rem;
        }

        #resume {
            margin-right: 2rem;

            button {
                padding: 0.35rem 0.85rem;

                &:hover {
                    cursor: pointer;
                    background-color: #f2f3f4;
                }
            }
        }
    }
}