
#certificates-cont {
    width: 100vw;
    flex-direction: column;
    line-height: 1.6;
    color: var(--textColor1);
    background-color: var(--bgColor1);

    .section-title {
        width: 100%;
        height: 3.5rem;
        color: var(--primaryColor);
        margin-bottom: 1.5rem;
        position: sticky;
        top: 0;
        background-color: var(--bgColor1);
    }

    #certificates {
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem 0;

        .certificate {
            width: 95%;
            padding: 2rem;
            margin-bottom: 1.25rem;
            background-color: var(--bgColor2);

            > ul {

                > li {

                    > h1 {
                        color: var(--textColor1);
                        font-size: 1.25rem;
                        font-style: italic;
                    }
    
                    > h2 {
                        font-size: 0.8rem;
                        font-style: italic;
                        font-weight: 300;
                    }
                }
            }
        }
        
    }
    
}


@media only screen and (min-width: 75rem) {

    #certificates-cont {

        #certificates {
            width: 75rem;
            border-left: 0.1px solid rgba(0, 0, 0, 0.1);
            border-right: 0.2px solid rgba(0, 0, 0, 0.199);

            .certificate {
    
                > ul {
    
                    > li {
    
                        > h1 {
                            font-size: 1.25rem;
                        }
        
                        > h2 {
                            font-size: 0.9rem;
                            font-style: italic;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}