

#educations-cont {
    flex-direction: column;
    width: 100vw;
    line-height: 1.6;
    color: var(--textColor1);
    background-color: var(--bgColor1);

    .section-title {
        width: 100%;
        height: 3.5rem;
        color: var(--primaryColor);
        margin-bottom: 1.5rem;
        position: sticky;
        top: 0;
        background-color: var(--bgColor1);
    }
    

    #educations {
        width: 100%;
        padding: 1rem 0;
        flex-direction: column;

        .education {
            width: 95%;
            padding: 2rem;
            margin-bottom: 2rem;
            background-color: var(--bgColor2);

            > div {
                width: 100%;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 1rem;

                h1 {
                    font-size: 1.25rem;
                    font-style: italic;
                    color: var(--textColor1);
                }
    
                h2 {
                    font-size: 0.8rem;
                    font-style: italic;
                    font-weight: 300;
                }
            }

            ul {
                font-size: 0.8rem;

                li {
                    list-style:square;
                }
            }
        }
    }
}


@media only screen and (min-width: 40rem) {

    #educations-cont {

        #educations {

            .education {

                > div {
                    flex-direction: row;
                    justify-content: space-between;
                    
                    > h2 {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 75rem) {

    #educations-cont {
        width: 75rem;
        border-left: var(--border);
        border-right: var(--border);
        
        #educations {

            .education {
    
                > div {
    
                    h1 {
                        font-size: 1.25rem;
                    }
        
                    h2 {
                        font-size: 0.9rem;
                    }
                }
    
                ul {
                    font-size: 0.9rem;
                }
            }
        }
    }
}