

#skills-cont {
    width: 100vw;
    flex-direction: column;
    line-height: 1.6;
    color: var(--textColor1);
    background-color: var(--bgColor1);

    .section-title {
        width: 100%;
        height: 3.5rem;
        color: var(--primaryColor);
        margin-bottom: 1.5rem;
        position: sticky;
        top: 0;
        background-color: var(--bgColor1);
    }

    #skills {
        width: 100%;
        flex-direction: column;
        padding: 1rem 0;

        .skill {
            width: 95%;
            padding: 2rem;
            margin-bottom: 1.25rem;
            background-color: var(--bgColor2);

            > h1 {
                font-size: 1.25rem;
                font-style: italic;
                color: var(--textColor1);
                margin-bottom: 0.5rem;
            }

            > ul {
                font-size: 0.8rem;

                > li {
                    list-style: square;
                    font-style: italic;
                    font-weight: 300;
                }
            }
        }
    }
    
}


@media only screen and (min-width: 75rem) {

    #skills-cont {
        width: 75rem;
        border-left: var(--border);
        border-right: var(--border);
        
        #skills {
            

            .skill {
    
                > h1 {
                    font-size: 1.25rem;
                }
    
                > ul {
                    font-size: 0.9rem;
                }
            }
        }
    }
}