

#skills-cont {
    width: 95vw;
    flex-direction: column;
    line-height: 1.6;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.199);
    color: var(--lightText);
    background-color: var(--bgColor1);
    
    #title {
        width: 100%;
        padding: 0.75rem;
        justify-content: space-between;

        > h1 {
            color: var(--darkText);
            font-size: 1.75rem;
            > i {
                font-size: 1.75rem;
                margin-right: 0.75rem;
            }
        }

        i {
            margin-right: 0.5rem;
            font-size: 1.1rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    #skills {
        width: 100%;
        background-color: var(--bgColor2);
        flex-direction: column;
        padding: 1rem 0;

        .skill {
            width: 95%;
            padding: 2rem;
            margin-bottom: 1.25rem;
            background-color: var(--bgColor1);

            > h1 {
                font-size: 1.25rem;
                font-style: italic;
                color: var(--darkText);
                margin-bottom: 0.5rem;
            }

            > ul {
                font-size: 0.8rem;

                > li {
                    list-style: square;
                    font-style: italic;
                    font-weight: 300;
                }
            }
        }
    }
    
}


@media only screen and (min-width: 75rem) {

    #skills-cont {
        width: 75rem;
        border-left: 0.2px solid rgba(0, 0, 0, 0.199);
        border-right: 0.2px solid rgba(0, 0, 0, 0.199);
    }
}