

#footer-cont {
    width: 100vw;
    min-height: 7rem;
    background-color: white;
}

@media only screen and (min-width: 50rem) {

    #footer-cont {
        width: 50rem;
        border-left: 0.2px solid rgba(0, 0, 0, 0.199);
        border-right: 0.2px solid rgba(0, 0, 0, 0.199);
    }
}