* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --bgColor1: #0a0a0a; // e0e0e0 424245
    --bgColor2: #201d1dad;
    --primaryColor: green;
    --textColor1: rgba(255, 255, 255, 0.7);
    --border: 0.1px solid rgba(0, 128, 0, 0.175);
}


#main-display {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bgColor1);

    > main {
        flex-direction: column;
    }
}

.boxShadow {
    box-shadow: rgba(0, 128, 0, 0.05) 0px 0px 0px 1px, rgb(0, 128, 0) 0px 0px 0px 1px inset;
}

.boxShadowInset {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


// :root {
//     --primaryColor: #ffa500; /* blue color */
//     --secondaryColor: #ffa500; /* red color */
//     --bgColor1: #6e7070;
//     --bgColor2: #424245;
//     --lightText: rgba(255, 255, 255, 0.55); /* light text color */
//     --darkText: rgba(0, 0, 0, 0.55);
// }