* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


#main-display {
    width: 100vw;
}