* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --bgColor1: #424245; // e0e0e0 424245
    // --bgColor2: #424245;
    --primaryColor: #ffa500;
    --textColor1: rgba(255, 255, 255, 0.7);
    --textColor2: rgba(255, 255, 255, 0.35);
    --border: 0.1px solid rgba(0, 0, 0, 0.1);
}


#main-display {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(255, 165, 0, 0.5) 0px 3px 6px;
    box-shadow: rgba(255, 165, 0, 0.5) 0px 22px 70px 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(255, 165, 0, 0.5) 0px 1px 2px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(255, 165, 0, 0.5) 0px 0px 0px 2px, rgba(255, 165, 0, 0.5) 0px 4px 6px -1px, rgba(255, 165, 0, 0.5) 0px 1px 0px inset;
    box-shadow: rgba(255, 165, 0, 0.12) 0px 1px 3px, rgba(255, 165, 0, 0.24) 0px 1px 2px;
}

.boxShadowInset {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


// :root {
//     --primaryColor: #ffa500; /* blue color */
//     --secondaryColor: #ffa500; /* red color */
//     --bgColor1: #6e7070;
//     --bgColor2: #424245;
//     --lightText: rgba(255, 255, 255, 0.55); /* light text color */
//     --darkText: rgba(0, 0, 0, 0.55);
// }